<div id="<%= dom_id order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Customer Name:</strong>
    <%= order.customer_name %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Reference number:</strong>
    <%= order.reference_number %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Total Amount Due:</strong>
    <%= order.total_amount_due %>
  </div>
</div>
