<div id="<%= dom_id order %>" class="w-full sm:w-auto my-5 space-y-5">
    <td class="border px-4 py-2">
      <%= order.customer_name %>
    </td>
    <td class="border px-4 py-2">
      <%= order.reference_number %>
    </td>
    <td class="border px-4 py-2 text-center">
      <%= order.total_amount_due %>
    </td>
</div>
